# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*.pyo

.pytest_cache/
.ruff_cache/

.venv/
venv/


# ============================================================
# Runtime
# ============================================================

runtime/
*.db
*.sqlite
*.sqlite3


# ============================================================
# ML / MLflow
# ============================================================

mlruns/
mlartifacts/
mlflow-data/

model/
*.joblib


# ============================================================
# IDE / OS
# ============================================================

.vscode/
.idea/

.DS_Store
Thumbs.db


# ============================================================
# Notebook
# ============================================================

.ipynb_checkpoints/